.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
}

.screen-button {
    position: absolute;
    bottom: 4vh;
    width: 75px;
    height: 75px;
    background-color: greenyellow;
    border-radius: 50%;
    border: 3px solid black;
}
.screen-button:active {
    background-color: red;
}
