.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    font-size: calc(10px + 2vmin);
    color: white;
}

.card {
    color: black;
    padding: 5px;
    width: 30vw;
    white-space: nowrap;
    user-select: none;
}

.card > div:first-child {
    font-size: 1.1em;
}
.card > div:last-child {
    font-size: 0.8em;
    text-overflow: ellipsis;
    overflow: hidden;
}

.a-button {
    text-decoration: none;
    text-align: center;
}

.wrapper {
    background-color: #282c34;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.button {
    border-radius: 50%;
    background-color: white;
    border: 3px solid #282c34;
    position: relative;
    box-shadow: 0 0 0 2px white;
    transition: border-width 0.06s linear;
    flex-grow: 1;
}
.button:active {
    border: 6px solid #282c34;
}
.button-wrapper {
    width: 85px;
    height: 85px;
    display: flex;
    margin-bottom: 4vh;
}

.card-list-wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.card-list {
    display: flex;
    flex-direction: column;
    gap: 1px;
}
.card-wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    font-size: 16px;
    gap: 16px;
}
.list-button {
    font-size: 16px;
    color: white;
    padding: 8px 16px 8px 16px;
    border: 2px white solid;
    user-select: none;
    background-color: #282c34;
    transition: background-color 0.2s;
    border-radius: 20px;
}
.list-button:active {
    background-color: hsl(220, 13%, 40%);
}

.popup {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 100;
}

.popup-background {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #282c34;
    z-index: -1;
    opacity: 0.9;
}

.card-list-element {
    display: flex;
}

.popup-card-wrapper {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.popup-card-list {
    max-height: 50vh;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    gap: 1px;
}

.delete-button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 10px 0 10px;
    margin-left: 5px;
}

.google-button {
    font-weight: bold;
    font-size: 1.2em;
    background-color: firebrick;
    position: fixed;
    top: 0;
    left: 0;
    margin: 10px;
}

.google-button-auth {
    background-color: forestgreen;
}

.refresh {
    height: 80%;
    /* transition: height 200ms ease-in-out; */
    pointer-events: none;
}

.refresh-load {
    -webkit-animation: rotating 1s linear infinite;
    -moz-animation: rotating 1s linear infinite;
    -ms-animation: rotating 1s linear infinite;
    -o-animation: rotating 1s linear infinite;
    animation: rotating 1s linear infinite;
}

@keyframes rotating {
    from {
        -ms-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    to {
        -ms-transform: rotate(360deg);
        -moz-transform: rotate(360deg);
        -webkit-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}
